.button-container {
  & .fetch-btn {
    font-weight:bold;
    border-radius:0;
    border:0;
    outline:0px;
    outline:none;
  }
  & .fetch-btn:hover {
    color:green;
    outline:none;
    border:0;
  }
  & .fetch-btn:focus {
    outline:0px;
    outline:none;
    border:0;
  }  
  & .fetch-btn:active {
    outline:0px;
    outline:none;
    border:0;
  }  
  & .fetch-btn:focus:active {
    outline:0px;
    outline:none;
    border:0;
  }
  & .btn:focus,.btn:active {
   border:none;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
  }
}



