table {
  margin: 2rem 0;
  width: 100%;
  color: #555;
}
tr, th, td {
  color: #555;
  text-align: center;
  border-bottom: 1px solid #eee;
  height: 2.25rem
}
h1{
  margin: 2rem 0;
}
.negative {
  color:red;
}
.positive {
  color:green;
}